@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

canvas {
    border: 2px solid rgb(54, 47, 34);
    width: 800px; 
    height: 800px;
}

.toolbox {
    background-color:rgb(112, 96, 66) ;
    border: 1px solid rgb(112, 96, 66);
    display: flex;
    padding: 1rem;
    width: 800px;
}

.toolbox > * {
    background-color: rgb(255, 224, 166);
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    height: 50px;
    width: 50px;
}

.toolbox > *:last-child {
    margin-left: auto;
    height: 100px;
    width: 100px;
}